@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stroke: #fff;
  --btn-fill: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
}

@media (prefers-color-scheme: dark) {
  background-color: black;
}

body {
}

.navigation-outline {
  border-radius: 40px;
  border: 1px solid var(--stroke, #fff);
  background: var(
    --btn-fill,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.06) 100%
    )
  );
  backdrop-filter: blur(10px);
}

.cta-button-outline {
  border-radius: 59px;
  border: 1px solid var(--stroke, #fff);
  background: var(
    --btn-fill,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.06) 100%
    )
  );
  backdrop-filter: blur(19.299999237060547px);
}

.card-border {
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 249.88%
  );
}
.card-gradient-background {
  background: linear-gradient(
      180deg,
      rgba(203, 203, 203, 0.25) 0%,
      rgba(255, 255, 255, 0.125) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 249.88%
    );
}
